form{
    display:inline-block;
    width:100%;


}
    .form-row{
        display:inline-block;
        width:100%;
        margin-bottom:30px;
       
    

    }
        .form-row:last-of-type{
            margin-bottom:0px;
        }
        label{
            display:inline-block;
            width:100%;
            text-transform:uppercase;
            color:grey;
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 10px;
    
        }
        input{
            display:inline-block;
            width:100%;
            border:none;
            border-bottom:1px solid grey;
            color:#333;
            font-size:18px;
            line-height:30px;
            background-color:transparent;
    
        }